In [1]:
# module imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
# Read CSV file into a DataFrame
cotation_2008 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2008.csv")
cotation_2009 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2009.csv")
cotation_2010 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2010.csv")
cotation_2011 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2011.csv")
cotation_2012 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2012.csv")
cotation_2013 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2013.csv")
cotation_2014 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2014.csv")
cotation_2015 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2015.csv")
cotation_2016 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2016.csv")
cotation_2017 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2017.csv")
cotation_2018 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2018.csv")
cotation_2019 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2019.csv")
cotation_2020 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2020.csv")
cotation_2021 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2021.csv")
cotation_2022 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2022.csv")
cotation_2023 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2023.csv")

# Display the DataFrame
print(cotation_2008)

C:\Users\ONS\AppData\Local\Temp\ipykernel_14660\1774483292.py:4: DtypeWarning: Columns (1,2,4,5,6,7,8,9) have mixed types. Specify dtype option on import or set low_memory=False.
  cotation_2010 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2010.csv")
C:\Users\ONS\AppData\Local\Temp\ipykernel_14660\1774483292.py:15: DtypeWarning: Columns (1,4,5,6,7,8,9,10) have mixed types. Specify dtype option on import or set low_memory=False.
  cotation_2021 = pd.read_csv(r"C:\Users\ONS\Downloads\Cotation_2008-2023\Cotation_2008-2023\histo_cotation_2021.csv")

           SEANCE  GROUPE    CODE              VALEUR  OUVERTURE  CLOTURE  \
0        2/1/2008      11  100010            MONOPRIX      85.00    85.00
1        2/1/2008      11  110025                SFBT      14.50    14.60
2        2/1/2008      11  120040            TUNISAIR       3.80     3.80
3        2/1/2008      11  130055           BTE (ADP)      32.30    32.30
4        2/1/2008      11  140070       SPDIT - SICAF       7.00     7.00
...           ...     ...     ...                 ...        ...      ...
67946  31/12/2008      33  150092         AMS DA 1/50       0.00     0.00
67947  31/12/2008      33  150093  AMS DA 1/51 150702       0.00     0.00
67948  31/12/2008      33  150094    AMS DA 1/26 0803       0.00     0.00
67949  31/12/2008      33  150095   AMS DA 1/9 090804       0.00     0.00
67950  31/12/2008      52  729001               SOPAT       6.39     6.39

       PLUS_BAS  PLUS_HAUT  QUANTITE_NEGOCIEE  NB_TRANSACTION CAPITAUX IND_RES
0         85.00      85.00                250               7            21250
1         14.50      14.72               6285              22          91850.4
2          3.80       3.80               7548              16          28682.4
3         32.30      32.30                237               6           7655.1
4          7.00       7.00                300               2             2100
...         ...        ...                ...             ...              ...
67946      0.00       0.00                  0               0          0.000 B
67947      0.00       0.00                  0               0                0
67948      0.00       0.00                  0               0          0.000 B
67949      0.00       0.00                  0               0                0
67950      6.39       6.39                197               1          1258.83

[67951 rows x 11 columns]

In [3]:
# List of columns to drop
columns_to_drop = ['COURS_REF', 'COURS_VEILLE', 'DERNIER_COURS']

# Drop the specified columns
cotation_2018= cotation_2018.drop(columns=columns_to_drop)
cotation_2019= cotation_2019.drop(columns=columns_to_drop)

# Now df contains the dataset without the dropped features

In [4]:
# Check for duplicates
duplicate_rows1 = cotation_2018.duplicated()
duplicate_rows2 = cotation_2019.duplicated()

# Display duplicate rows
print("Duplicate rows:")
print(cotation_2018[duplicate_rows1])
print(cotation_2019[duplicate_rows2])
# Count the number of duplicates
num_duplicates1 = duplicate_rows1.sum()
num_duplicates2 = duplicate_rows2.sum()

print(f"Number of duplicate rows: {num_duplicates1}")
print(f"Number of duplicate rows: {num_duplicates2}")

Duplicate rows:
Empty DataFrame
Columns: [SEANCE, C_GR_RLC, CODE_VAL, LIB_VAL, OUVERTURE, CLOTURE, PLUS_BAS, PLUS_HAUT, QUANTITE_NEGOCIEE, NB_TRAN, CAPITAUX IND_RES]
Index: []
Empty DataFrame
Columns: [SEANCE, C_GR_RLC, CODE_VAL, LIB_VAL, OUVERTURE, CLOTURE, PLUS_BAS, PLUS_HAUT, QUANTITE_NEGOCIEE, NB_TRAN, CAPITAUX IND_RES]
Index: []
Number of duplicate rows: 0
Number of duplicate rows: 0

In [5]:
# Create a dictionary to map old column names to new column names
new_column_names = {'C_GR_RLC': 'GROUPE', 'CODE_VAL': 'CODE', 'LIB_VAL': 'VALEUR', 'NB_TRAN': 'NB_TRANSACTION'}

# Rename the columns
cotation_2018 = cotation_2018.rename(columns=new_column_names)
cotation_2019 = cotation_2019.rename(columns=new_column_names)


# Now df contains the dataset with renamed columns

--------------------------------------------------------------

In [6]:
# Concatenate along rows
df_cotation = pd.concat([cotation_2008, cotation_2009,cotation_2010,cotation_2011,cotation_2012,cotation_2013,cotation_2014,cotation_2015,cotation_2016,cotation_2017,cotation_2018,cotation_2019,cotation_2020,cotation_2021,cotation_2022,cotation_2023], ignore_index=True)

In [7]:
df_cotation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1556557 entries, 0 to 1556556
Data columns (total 11 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   SEANCE             1556554 non-null  object
 1   GROUPE             1513432 non-null  object
 2   CODE               1556554 non-null  object
 3   VALEUR             1556554 non-null  object
 4   OUVERTURE          1556554 non-null  object
 5   CLOTURE            1556554 non-null  object
 6   PLUS_BAS           1556554 non-null  object
 7   PLUS_HAUT          1556554 non-null  object
 8   QUANTITE_NEGOCIEE  1556554 non-null  object
 9   NB_TRANSACTION     1556554 non-null  object
 10  CAPITAUX IND_RES   1446084 non-null  object
dtypes: object(11)
memory usage: 130.6+ MB

In [8]:
# Check for duplicates
duplicate_rows = df_cotation.duplicated()

# Display duplicate rows
print("Duplicate rows:")
print(df_cotation[duplicate_rows])

# Count the number of duplicates
num_duplicates = duplicate_rows.sum()
print(f"Number of duplicate rows: {num_duplicates}")

Duplicate rows:
             SEANCE   GROUPE          CODE                VALEUR    OUVERTURE  \
1304298         NaN      NaN           NaN                   NaN          NaN
1354298         NaN      NaN           NaN                   NaN          NaN
1354299      SEANCE   GROUPE          CODE                VALEUR    OUVERTURE
1354300  ----------  -------  ------------  --------------------  -----------

             CLOTURE     PLUS_BAS    PLUS_HAUT   QUANTITE_NEGOCIEE  \
1304298          NaN          NaN          NaN                 NaN
1354298          NaN          NaN          NaN                 NaN
1354299      CLOTURE     PLUS_BAS    PLUS_HAUT   QUANTITE_NEGOCIEE
1354300  -----------  -----------  -----------  ------------------

          NB_TRANSACTION   CAPITAUX IND_RES
1304298              NaN                NaN
1354298              NaN                NaN
1354299   NB_TRANSACTION           CAPITAUX
1354300  ---------------  -----------------
Number of duplicate rows: 4

In [9]:
df_cotation.head()

,SEANCE,GROUPE,CODE,VALEUR,OUVERTURE,CLOTURE,PLUS_BAS,PLUS_HAUT,QUANTITE_NEGOCIEE,NB_TRANSACTION,CAPITAUX IND_RES
0,2/1/2008,11,100010,MONOPRIX,85.0,85.0,85.0,85.0,250,7,21250
1,2/1/2008,11,110025,SFBT,14.5,14.6,14.5,14.72,6285,22,91850.4
2,2/1/2008,11,120040,TUNISAIR,3.8,3.8,3.8,3.8,7548,16,28682.4
3,2/1/2008,11,130055,BTE (ADP),32.3,32.3,32.3,32.3,237,6,7655.1
4,2/1/2008,11,140070,SPDIT - SICAF,7.0,7.0,7.0,7.0,300,2,2100

In [10]:
# Drop duplicated rows
df_cotation = df_cotation.drop_duplicates()

# Now df_cotation contains the DataFrame without duplicated rows

In [11]:
df_cotation['SEANCE'] = df_cotation['SEANCE'].astype(str)

In [12]:
df_cotation.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1556553 entries, 0 to 1556556
Data columns (total 11 columns):
 #   Column             Non-Null Count    Dtype
---  ------             --------------    -----
 0   SEANCE             1556553 non-null  object
 1   GROUPE             1513430 non-null  object
 2   CODE               1556552 non-null  object
 3   VALEUR             1556552 non-null  object
 4   OUVERTURE          1556552 non-null  object
 5   CLOTURE            1556552 non-null  object
 6   PLUS_BAS           1556552 non-null  object
 7   PLUS_HAUT          1556552 non-null  object
 8   QUANTITE_NEGOCIEE  1556552 non-null  object
 9   NB_TRANSACTION     1556552 non-null  object
 10  CAPITAUX IND_RES   1446082 non-null  object
dtypes: object(11)
memory usage: 142.5+ MB

In [13]:
import re
# Sample DataFrame
# df_cotation = pd.DataFrame({'SEANCE': ['31/12/2022', '1/1/22', '15/3/2021', '5/6/21']})

# Define a function to standardize date formats using regex
def standardize_date(date_str):
    # Define regex patterns for different date formats
    patterns = [
        r'(\d{1,2})/(\d{1,2})/(\d{4})',  # dd/mm/yyyy
        r'(\d{1,2})/(\d{1,2})/(\d{2})'    # dd/mm/yy
        # Add more patterns if needed for other formats
    ]

    # Iterate over patterns and try to match
    for pattern in patterns:
        match = re.match(pattern, date_str)
        if match:
            day = match.group(1).zfill(2)  # Zero padding for day
            month = match.group(2).zfill(2)  # Zero padding for month
            year = match.group(3)  # Extract year
            if len(year) == 2:  # If year has 2 digits, pad with '20'
                year = '20' + year
            return f"{day}/{month}/{year}"

# Standardize 'SEANCE' column values using the defined function
df_cotation['SEANCE'] = df_cotation['SEANCE'].apply(standardize_date)

# Display the DataFrame with standardized date values
print(df_cotation)

             SEANCE GROUPE          CODE              VALEUR OUVERTURE  \
0        02/01/2008     11        100010            MONOPRIX      85.0
1        02/01/2008     11        110025                SFBT      14.5
2        02/01/2008     11        120040            TUNISAIR       3.8
3        02/01/2008     11        130055           BTE (ADP)      32.3
4        02/01/2008     11        140070       SPDIT - SICAF       7.0
...             ...    ...           ...                 ...       ...
1556552  29/12/2023     99  TN0006670012              SIPHAT      3.75
1556553  29/12/2023     99  TN0007130016          GIF-FILTER      0.55
1556554  29/12/2023     99  TN0007340011            SERVICOM      0.22
1556555  29/12/2023     99  TN0007660012  MAGHREB INTERN PUB      0.15
1556556  29/12/2023     99  TN0007690019                UADH      0.68

        CLOTURE PLUS_BAS PLUS_HAUT QUANTITE_NEGOCIEE NB_TRANSACTION  \
0          85.0     85.0      85.0               250              7
1          14.6     14.5     14.72              6285             22
2           3.8      3.8       3.8              7548             16
3          32.3     32.3      32.3               237              6
4           7.0      7.0       7.0               300              2
...         ...      ...       ...               ...            ...
1556552    3.76     3.76      3.76                88              2
1556553    0.53      0.0       0.0                 0              0
1556554    0.22     0.22      0.22              2500              4
1556555    0.14      0.0       0.0                 0              0
1556556    0.65      0.0       0.0                 0              0

        CAPITAUX IND_RES
0                  21250
1                91850.4
2                28682.4
3                 7655.1
4                   2100
...                  ...
1556552           330.88
1556553              0.0
1556554            550.0
1556555              0.0
1556556              0.0

[1556553 rows x 11 columns]

In [14]:
df_cotation

,SEANCE,GROUPE,CODE,VALEUR,OUVERTURE,CLOTURE,PLUS_BAS,PLUS_HAUT,QUANTITE_NEGOCIEE,NB_TRANSACTION,CAPITAUX IND_RES
0,02/01/2008,11,100010,MONOPRIX,85.0,85.0,85.0,85.0,250,7,21250
1,02/01/2008,11,110025,SFBT,14.5,14.6,14.5,14.72,6285,22,91850.4
2,02/01/2008,11,120040,TUNISAIR,3.8,3.8,3.8,3.8,7548,16,28682.4
3,02/01/2008,11,130055,BTE (ADP),32.3,32.3,32.3,32.3,237,6,7655.1
4,02/01/2008,11,140070,SPDIT - SICAF,7.0,7.0,7.0,7.0,300,2,2100
...,...,...,...,...,...,...,...,...,...,...,...
1556552,29/12/2023,99,TN0006670012,SIPHAT,3.75,3.76,3.76,3.76,88,2,330.88
1556553,29/12/2023,99,TN0007130016,GIF-FILTER,0.55,0.53,0.0,0.0,0,0,0.0
1556554,29/12/2023,99,TN0007340011,SERVICOM,0.22,0.22,0.22,0.22,2500,4,550.0
1556555,29/12/2023,99,TN0007660012,MAGHREB INTERN PUB,0.15,0.14,0.0,0.0,0,0,0.0
1556556,29/12/2023,99,TN0007690019,UADH,0.68,0.65,0.0,0.0,0,0,0.0

In [15]:
# Drop rows where 'VALEUR' column contains a number
df_cotation_entreprises = df_cotation[~df_cotation['VALEUR'].str.contains('\d', na=False)]

# Display the filtered DataFrame
print(df_cotation_entreprises)

             SEANCE GROUPE          CODE              VALEUR OUVERTURE  \
0        02/01/2008     11        100010            MONOPRIX      85.0
1        02/01/2008     11        110025                SFBT      14.5
2        02/01/2008     11        120040            TUNISAIR       3.8
3        02/01/2008     11        130055           BTE (ADP)      32.3
4        02/01/2008     11        140070       SPDIT - SICAF       7.0
...             ...    ...           ...                 ...       ...
1556552  29/12/2023     99  TN0006670012              SIPHAT      3.75
1556553  29/12/2023     99  TN0007130016          GIF-FILTER      0.55
1556554  29/12/2023     99  TN0007340011            SERVICOM      0.22
1556555  29/12/2023     99  TN0007660012  MAGHREB INTERN PUB      0.15
1556556  29/12/2023     99  TN0007690019                UADH      0.68

        CLOTURE PLUS_BAS PLUS_HAUT QUANTITE_NEGOCIEE NB_TRANSACTION  \
0          85.0     85.0      85.0               250              7
1          14.6     14.5     14.72              6285             22
2           3.8      3.8       3.8              7548             16
3          32.3     32.3      32.3               237              6
4           7.0      7.0       7.0               300              2
...         ...      ...       ...               ...            ...
1556552    3.76     3.76      3.76                88              2
1556553    0.53      0.0       0.0                 0              0
1556554    0.22     0.22      0.22              2500              4
1556555    0.14      0.0       0.0                 0              0
1556556    0.65      0.0       0.0                 0              0

        CAPITAUX IND_RES
0                  21250
1                91850.4
2                28682.4
3                 7655.1
4                   2100
...                  ...
1556552           330.88
1556553              0.0
1556554            550.0
1556555              0.0
1556556              0.0

[318469 rows x 11 columns]

In [16]:
df_cotation_entreprises.head()

,SEANCE,GROUPE,CODE,VALEUR,OUVERTURE,CLOTURE,PLUS_BAS,PLUS_HAUT,QUANTITE_NEGOCIEE,NB_TRANSACTION,CAPITAUX IND_RES
0,02/01/2008,11,100010,MONOPRIX,85.0,85.0,85.0,85.0,250,7,21250
1,02/01/2008,11,110025,SFBT,14.5,14.6,14.5,14.72,6285,22,91850.4
2,02/01/2008,11,120040,TUNISAIR,3.8,3.8,3.8,3.8,7548,16,28682.4
3,02/01/2008,11,130055,BTE (ADP),32.3,32.3,32.3,32.3,237,6,7655.1
4,02/01/2008,11,140070,SPDIT - SICAF,7.0,7.0,7.0,7.0,300,2,2100

In [17]:
# Specify the columns to check for 0 values
columns_to_check = ['OUVERTURE', 'CLOTURE', 'PLUS_BAS', 'PLUS_HAUT', 'QUANTITE_NEGOCIEE', 'NB_TRANSACTION', 'CAPITAUX IND_RES']

# Delete rows where specified columns have all values equal to 0
df_cotation_entreprises = df_cotation_entreprises[~(df_cotation_entreprises[columns_to_check] == 0).all(axis=1)]

# Replace NaN values in 'VALEUR' column with empty strings
df_cotation_entreprises['VALEUR'].fillna('', inplace=True)

# Delete rows where 'VALEUR' column contains the string 'DA'
df_cotation_entreprises = df_cotation_entreprises[~df_cotation_entreprises['VALEUR'].astype(str).str.contains('DA')]
df_cotation_entreprises = df_cotation_entreprises[~df_cotation_entreprises['VALEUR'].astype(str).str.contains('Da')]
df_cotation_entreprises = df_cotation_entreprises[~df_cotation_entreprises['VALEUR'].astype(str).str.contains('------------------')]

In [18]:
df_hist=df_cotation_entreprises

In [19]:
import pandas as pd


# Convert columns to strings
df_hist['VALEUR'] = df_hist['VALEUR'].astype(str)
df_hist['QUANTITE_NEGOCIEE'] = df_hist['QUANTITE_NEGOCIEE'].astype(str)
df_hist['NB_TRANSACTION'] = df_hist['NB_TRANSACTION'].astype(str)
df_hist['CAPITAUX IND_RES'] = df_hist['CAPITAUX IND_RES'].astype(str)
df_hist['OUVERTURE'] = df_hist['OUVERTURE'].astype(str)
df_hist['CLOTURE'] = df_hist['CLOTURE'].astype(str)
df_hist['PLUS_BAS'] = df_hist['CLOTURE'].astype(str)
df_hist['PLUS_HAUT'] = df_hist['CLOTURE'].astype(str)


# Convert columns to floats, handling errors with 'coerce' option to convert non-numeric strings to NaN
df_hist['QUANTITE_NEGOCIEE'] = pd.to_numeric(df_hist['QUANTITE_NEGOCIEE'], errors='coerce')
df_hist['NB_TRANSACTION'] = pd.to_numeric(df_hist['NB_TRANSACTION'], errors='coerce')
df_hist['CAPITAUX IND_RES'] = pd.to_numeric(df_hist['CAPITAUX IND_RES'], errors='coerce')
df_hist['OUVERTURE'] = pd.to_numeric(df_hist['OUVERTURE'], errors='coerce')
df_hist['CLOTURE'] = pd.to_numeric(df_hist['CLOTURE'], errors='coerce')
df_hist['PLUS_BAS'] = pd.to_numeric(df_hist['PLUS_BAS'], errors='coerce')
df_hist['PLUS_HAUT'] = pd.to_numeric(df_hist['PLUS_HAUT'], errors='coerce')


# Convert columns to integers, handling errors with 'coerce' option to convert non-numeric strings to NaN
df_hist['GROUPE'] = pd.to_numeric(df_hist['GROUPE'], errors='coerce')

# Display the first few rows of the DataFrame
print(df_hist.head())

       SEANCE  GROUPE    CODE         VALEUR  OUVERTURE  CLOTURE  PLUS_BAS  \
0  02/01/2008    11.0  100010       MONOPRIX       85.0     85.0      85.0
1  02/01/2008    11.0  110025           SFBT       14.5     14.6      14.6
2  02/01/2008    11.0  120040       TUNISAIR        3.8      3.8       3.8
3  02/01/2008    11.0  130055      BTE (ADP)       32.3     32.3      32.3
4  02/01/2008    11.0  140070  SPDIT - SICAF        7.0      7.0       7.0

   PLUS_HAUT  QUANTITE_NEGOCIEE  NB_TRANSACTION  CAPITAUX IND_RES
0       85.0              250.0             7.0           21250.0
1       14.6             6285.0            22.0           91850.4
2        3.8             7548.0            16.0           28682.4
3       32.3              237.0             6.0            7655.1
4        7.0              300.0             2.0            2100.0

In [20]:
# Iterate through columns
for column in df_hist.columns:
    # Check if column is of type 'float'
    if df_hist[column].dtype == 'float64':
        # Replace NaN values with 0
        df_hist[column] = df_hist[column].fillna(0)
        # Convert column to integers

# Display the first few rows of the DataFrame
print(df_hist.head())

       SEANCE  GROUPE    CODE         VALEUR  OUVERTURE  CLOTURE  PLUS_BAS  \
0  02/01/2008    11.0  100010       MONOPRIX       85.0     85.0      85.0
1  02/01/2008    11.0  110025           SFBT       14.5     14.6      14.6
2  02/01/2008    11.0  120040       TUNISAIR        3.8      3.8       3.8
3  02/01/2008    11.0  130055      BTE (ADP)       32.3     32.3      32.3
4  02/01/2008    11.0  140070  SPDIT - SICAF        7.0      7.0       7.0

   PLUS_HAUT  QUANTITE_NEGOCIEE  NB_TRANSACTION  CAPITAUX IND_RES
0       85.0              250.0             7.0           21250.0
1       14.6             6285.0            22.0           91850.4
2        3.8             7548.0            16.0           28682.4
3       32.3              237.0             6.0            7655.1
4        7.0              300.0             2.0            2100.0

In [21]:
df_hist['CAPITAUX IND_RES'] = df_hist['CAPITAUX IND_RES'].fillna(0)

In [22]:
df_hist.drop(columns=['GROUPE'], inplace=True)

In [23]:
# Remove leading and trailing whitespace from 'VALEUR' column and check if it's equal to an empty string
df_hist = df_hist[df_hist['VALEUR'].str.strip() != '']

In [24]:
# Display the unique values of the "VALEUR" column
unique_valeur_values = df_hist['VALEUR'].unique()
print("Unique values in 'VALEUR' column:")
print(unique_valeur_values)

Unique values in 'VALEUR' column:
['MONOPRIX' 'SFBT' 'TUNISAIR' 'BTE (ADP)' 'SPDIT - SICAF' 'TJARI' 'BIAT'
 'BH' 'TUNISIE LEASING' 'BT' 'STB' 'BNA' 'ATB' 'UIB' 'SIMPAR'
 'TUNINVEST-SICAR' 'CIL' 'ATL' 'STAR' 'MAGASIN GENERAL' 'SOTETEL'
 'SOTUVER' 'SOTUMAG' 'SIAME' 'ELECTROSTAR' 'SOTRAPIL' 'SIPHAT' 'SOMOCER'
 'GIF' 'ASSAD' 'KARTHAGO AIRLINES' 'SITS' 'EL WIFACK LEASING' 'ESSOUKNA'
 'ADWYA' 'TPR' 'LA CARTE (CI)' 'AIR LIQUDE TSIE' 'UBCI' 'PLAC. TSIE-SICAF'
 'PALM BEACH (AA)' 'ASTREE' 'ICF' 'TUNISIE LAIT' 'AMEN BANK' 'ALKIMIA'
 'STIP' 'EL MAZRAA' 'GENERAL LEASING' 'STEQ' 'AMS' 'SITEX'
 'STE TUN. DU SUCRE' 'SALIM' 'PALM BEACH (ADP)' 'SOPAT' 'ATTIJARI LEASING'
 'ARTES' 'ATTIJARI BANK' 'GIF-FILTER' 'ATTIJARI LS ROMPU'
 'POULINA GP HOLDING' 'SERVICOM' 'CIMENTS DE BIZERTE' 'ASSURANCES SALIM'
 'TUNIS RE' 'CARTHAGE CEMENT' 'ENNAKL AUTOMOBILES' 'VALEUR'
 'MODERN LEASING' 'TELNET HOLDING' 'HEXABYTE' 'SOCIETE LAND OR' 'AETECH'
 'NEW BODY LINE' 'ONE TECH HOLDING' 'SYPHAX AIRLINES' 'EURO-CYCLES'
 'HANNIBAL LEASE' 'LAND OR' 'ELBEN INDUSTRIE' 'ELBENE INDUSTRIE'
 'BEST LEASE' 'CITY CARS' 'MPBS' 'SAH' 'SOTEMAIL' 'CELLCOM' 'SOTIPAPIER'
 'TAWASOL GP HOLDING' 'MIP' 'MAGHREB INTERN PUB' 'DELICE HOLDING'
 'ASS MULTI ITTIHAD' 'CEREALIS' 'Autres Lignes' 'UADH' 'OFFICEPLAST'
 'WIFACK INT BANK' 'UNIMED' 'SANIMED' 'ATELIER MEUBLE INT' 'EUROCYCLES'
 'GIFFILTER' 'PLAC. TSIESICAF' 'SPDIT  SICAF' 'TUNINVESTSICAR'
 'TUNISIE LEASING F' 'TUNISIE VALEURS' 'BH ASSURANCE' 'BH LEASING'
 'ASSUR MAGHREBIA' 'BH BANK' 'AIR LIQUIDE TSIE' 'SMART TUNISIE' 'STA'
 'ASSU MAGHREBIA VIE']

In [25]:
# Assuming df_hist is your DataFrame
df_hist['VALEUR'] = df_hist['VALEUR'].replace('EURO-CYCLES', 'EUROCYCLES')
df_hist['VALEUR'] = df_hist['VALEUR'].replace('SPDIT - SICAF', 'SPDIT  SICAF')
df_hist['VALEUR'] = df_hist['VALEUR'].replace('ASSU MAGHREBIA VIE', 'ASSUR MAGHREBIA')
df_hist['VALEUR'] = df_hist['VALEUR'].replace('SOCIETE LAND OR', 'LAND OR')
df_hist['VALEUR'] = df_hist['VALEUR'].replace('PLAC. TSIESICAF', 'PLAC. TSIE-SICAF')
df_hist['VALEUR'] = df_hist['VALEUR'].replace('AIR LIQUDE TSIE', 'AIR LIQUIDE TSIE')
df_hist['VALEUR'] = df_hist['VALEUR'].replace('TUNINVEST-SICAR', 'TUNINVESTSICAR')
df_hist['VALEUR'] = df_hist['VALEUR'].replace('TUNISIE LEASING F', 'TUNISIE LEASING')
df_hist['VALEUR'] = df_hist['VALEUR'].replace('GIF-FILTER', 'GIFFILTER')
df_hist['VALEUR'] = df_hist['VALEUR'].replace('ELBENE INDUSTRIE', 'ELBEN INDUSTRIE')
df_hist['VALEUR'] = df_hist['VALEUR'].replace('STA', 'STAR')
#my changes
df_hist['VALEUR'] = df_hist['VALEUR'].replace('BH BANK', 'BH')
df_hist['VALEUR'] = df_hist['VALEUR'].replace('ATTIJARI BANK','TJARI')

C:\Users\ONS\AppData\Local\Temp\ipykernel_14660\2111201947.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist['VALEUR'] = df_hist['VALEUR'].replace('EURO-CYCLES', 'EUROCYCLES')
C:\Users\ONS\AppData\Local\Temp\ipykernel_14660\2111201947.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist['VALEUR'] = df_hist['VALEUR'].replace('SPDIT - SICAF', 'SPDIT  SICAF')
C:\Users\ONS\AppData\Local\Temp\ipykernel_14660\2111201947.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist['VALEUR'] = df_hist['VALEUR'].replace('ASSU MAGHREBIA VIE', 'ASSUR MAGHREBIA')
C:\Users\ONS\AppData\Local\Temp\ipykernel_14660\2111201947.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist['VALEUR'] = df_hist['VALEUR'].replace('SOCIETE LAND OR', 'LAND OR')
C:\Users\ONS\AppData\Local\Temp\ipykernel_14660\2111201947.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist['VALEUR'] = df_hist['VALEUR'].replace('PLAC. TSIESICAF', 'PLAC. TSIE-SICAF')
C:\Users\ONS\AppData\Local\Temp\ipykernel_14660\2111201947.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist['VALEUR'] = df_hist['VALEUR'].replace('AIR LIQUDE TSIE', 'AIR LIQUIDE TSIE')
C:\Users\ONS\AppData\Local\Temp\ipykernel_14660\2111201947.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist['VALEUR'] = df_hist['VALEUR'].replace('TUNINVEST-SICAR', 'TUNINVESTSICAR')
C:\Users\ONS\AppData\Local\Temp\ipykernel_14660\2111201947.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist['VALEUR'] = df_hist['VALEUR'].replace('TUNISIE LEASING F', 'TUNISIE LEASING')
C:\Users\ONS\AppData\Local\Temp\ipykernel_14660\2111201947.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist['VALEUR'] = df_hist['VALEUR'].replace('GIF-FILTER', 'GIFFILTER')
C:\Users\ONS\AppData\Local\Temp\ipykernel_14660\2111201947.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist['VALEUR'] = df_hist['VALEUR'].replace('ELBENE INDUSTRIE', 'ELBEN INDUSTRIE')
C:\Users\ONS\AppData\Local\Temp\ipykernel_14660\2111201947.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist['VALEUR'] = df_hist['VALEUR'].replace('STA', 'STAR')
C:\Users\ONS\AppData\Local\Temp\ipykernel_14660\2111201947.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist['VALEUR'] = df_hist['VALEUR'].replace('BH BANK', 'BH')
C:\Users\ONS\AppData\Local\Temp\ipykernel_14660\2111201947.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_hist['VALEUR'] = df_hist['VALEUR'].replace('ATTIJARI BANK','TJARI')

In [26]:
from difflib import get_close_matches

# Extract unique non-NaN company names from the 'VALEUR' column
company_names = df_hist['VALEUR'].dropna().unique()

# Function to find similar company names
def find_similar_company_names(company_name, all_company_names, threshold=0.8):
    # Find close matches using the Levenshtein distance
    matches = get_close_matches(company_name, all_company_names, cutoff=threshold)
    return matches

# Iterate through company names and find similar ones
for company_name in company_names:
    similar_names = find_similar_company_names(company_name, company_names)
    if len(similar_names) > 1:  # Display only if there are similar names
        print(f"Similar names to '{company_name}': {similar_names}")

Similar names to 'TUNISIE LEASING': ['TUNISIE LEASING', 'TUNISIE LAIT']
Similar names to 'PALM BEACH (AA)': ['PALM BEACH (AA)', 'PALM BEACH (ADP)']
Similar names to 'TUNISIE LAIT': ['TUNISIE LAIT', 'TUNISIE LEASING']
Similar names to 'PALM BEACH (ADP)': ['PALM BEACH (ADP)', 'PALM BEACH (AA)']

In [27]:
# Display the unique values of the "VALEUR" column
unique_valeur_values = df_hist['VALEUR'].nunique()
print("Unique values in 'VALEUR' column:")
print(unique_valeur_values)

Unique values in 'VALEUR' column:
104

In [28]:
df_hist['VALEUR'].unique()

array(['MONOPRIX', 'SFBT', 'TUNISAIR', 'BTE (ADP)', 'SPDIT  SICAF',
       'TJARI', 'BIAT', 'BH', 'TUNISIE LEASING', 'BT', 'STB', 'BNA',
       'ATB', 'UIB', 'SIMPAR', 'TUNINVESTSICAR', 'CIL', 'ATL', 'STAR',
       'MAGASIN GENERAL', 'SOTETEL', 'SOTUVER', 'SOTUMAG', 'SIAME',
       'ELECTROSTAR', 'SOTRAPIL', 'SIPHAT', 'SOMOCER', 'GIF', 'ASSAD',
       'KARTHAGO AIRLINES', 'SITS', 'EL WIFACK LEASING', 'ESSOUKNA',
       'ADWYA', 'TPR', 'LA CARTE (CI)', 'AIR LIQUIDE TSIE', 'UBCI',
       'PLAC. TSIE-SICAF', 'PALM BEACH (AA)', 'ASTREE', 'ICF',
       'TUNISIE LAIT', 'AMEN BANK', 'ALKIMIA', 'STIP', 'EL MAZRAA',
       'GENERAL LEASING', 'STEQ', 'AMS', 'SITEX', 'STE TUN. DU SUCRE',
       'SALIM', 'PALM BEACH (ADP)', 'SOPAT', 'ATTIJARI LEASING', 'ARTES',
       'GIFFILTER', 'ATTIJARI LS ROMPU', 'POULINA GP HOLDING', 'SERVICOM',
       'CIMENTS DE BIZERTE', 'ASSURANCES SALIM', 'TUNIS RE',
       'CARTHAGE CEMENT', 'ENNAKL AUTOMOBILES', 'VALEUR',
       'MODERN LEASING', 'TELNET HOLDING', 'HEXABYTE', 'LAND OR',
       'AETECH', 'NEW BODY LINE', 'ONE TECH HOLDING', 'SYPHAX AIRLINES',
       'EUROCYCLES', 'HANNIBAL LEASE', 'ELBEN INDUSTRIE', 'BEST LEASE',
       'CITY CARS', 'MPBS', 'SAH', 'SOTEMAIL', 'CELLCOM', 'SOTIPAPIER',
       'TAWASOL GP HOLDING', 'MIP', 'MAGHREB INTERN PUB',
       'DELICE HOLDING', 'ASS MULTI ITTIHAD', 'CEREALIS', 'Autres Lignes',
       'UADH', 'OFFICEPLAST', 'WIFACK INT BANK', 'UNIMED', 'SANIMED',
       'ATELIER MEUBLE INT', 'TUNISIE VALEURS', 'BH ASSURANCE',
       'BH LEASING', 'ASSUR MAGHREBIA', 'SMART TUNISIE'], dtype=object)

In [29]:
df_hist.info()

<class 'pandas.core.frame.DataFrame'>
Index: 294071 entries, 0 to 1556556
Data columns (total 10 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   SEANCE             294069 non-null  object
 1   CODE               294071 non-null  object
 2   VALEUR             294071 non-null  object
 3   OUVERTURE          294071 non-null  float64
 4   CLOTURE            294071 non-null  float64
 5   PLUS_BAS           294071 non-null  float64
 6   PLUS_HAUT          294071 non-null  float64
 7   QUANTITE_NEGOCIEE  294071 non-null  float64
 8   NB_TRANSACTION     294071 non-null  float64
 9   CAPITAUX IND_RES   294071 non-null  float64
dtypes: float64(7), object(3)
memory usage: 24.7+ MB

In [30]:
df_hist.head()

,SEANCE,CODE,VALEUR,OUVERTURE,CLOTURE,PLUS_BAS,PLUS_HAUT,QUANTITE_NEGOCIEE,NB_TRANSACTION,CAPITAUX IND_RES
0,02/01/2008,100010,MONOPRIX,85.0,85.0,85.0,85.0,250.0,7.0,21250.0
1,02/01/2008,110025,SFBT,14.5,14.6,14.6,14.6,6285.0,22.0,91850.4
2,02/01/2008,120040,TUNISAIR,3.8,3.8,3.8,3.8,7548.0,16.0,28682.4
3,02/01/2008,130055,BTE (ADP),32.3,32.3,32.3,32.3,237.0,6.0,7655.1
4,02/01/2008,140070,SPDIT SICAF,7.0,7.0,7.0,7.0,300.0,2.0,2100.0

In [31]:
# Save the DataFrame to a CSV file
df_hist.to_csv('df_cotation_entreprises.csv', index=False)